<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Wei1228銷售經驗</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../static/dist/assets/favicon.ico" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/dist/css/styles2.css" rel="stylesheet" />
        
    </head>
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
                <div class="container px-5">
                    <a class="navbar-brand" href="../index.html"><span class="text-gradient d-inline"><b>wei1228個人網站</b></span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item"><a class="nav-link" href="../index.html"><font size="5">首頁</font></a></li>
                            <li class="nav-item"><a class="nav-link" href="resume.html"><font size="5">履歷</font></a></li>
                            <li class="nav-item"><a class="nav-link" href="projects.html"><font size="5">專案</font></a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html"><font size="5">聯絡我</font></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page Content-->
            <div class="container px-3 my-5">
                <div class="text-center mb-0">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">銷售就職經驗</span></h1>
                </div>
                <div class="row gx-2 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">

                        <div class="pb-2"></div>
                    </div>
                </div>
            </div>

            <div id="portfolio">
                <div class="container-fluid p-0">
                    <div class="row g-0">
                        <div class="col-lg-4 col-sm-6">
                            <div class="profile bg-gradient-primary-to-secondary">
                                <a class="portfolio-box" href="../static/dist/assets/AOG/最佳銷售.jpg" title="獲得客人高評價，公司發放獎狀">
                                    <img class="img-fluid" src="../static/dist/assets/AOG/最佳銷售.jpg" alt="..." />
                                    <div class="portfolio-box-caption">
                                        <div class="project-category text-white-50"><font size="4">銷售獎項</font></div>
                                        <div class="project-name">2020最佳服務獎</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="../static/dist/assets/AOG/菲律賓玩家1.jpg" title="透過英文口說來結識一群來自國外的客人">
                                <img class="img-fluid" src="../static/dist/assets/AOG/菲律賓玩家1.jpg" alt="..." />
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50"><font size="4">銷售經驗</font></div>
                                    <div class="project-name">外國客人</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="../static/dist/assets/AOG/活動1.jpg" title="在2019年計畫門市活動並舉行">
                                <img class="img-fluid" src="../static/dist/assets/AOG/活動1.jpg" alt="..." />
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50"><font size="4">銷售經驗</font></div>
                                    <div class="project-name">舉辦活動</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="../static/dist/assets/AOG/菲律賓玩家2.jpg" title="透過英文口說來結識一群來自國外的客人">
                                <img class="img-fluid" src="../static/dist/assets/AOG/菲律賓玩家2.jpg" alt="..." />
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50"><font size="4">銷售經驗</font></div>
                                    <div class="project-name">外國客人</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="../static/dist/assets/AOG/接待1.jpg" title="接待客人">
                                <img class="img-fluid" src="../static/dist/assets/AOG/接待1.jpg" alt="..." />
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50"><font size="4">銷售經驗</font></div>
                                    <div class="project-name">接待客人</div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <a class="portfolio-box" href="../static/dist/assets/AOG/接待2.jpg" title="接待客人">
                                <img class="img-fluid" src="../static/dist/assets/AOG/接待2.jpg" alt="..." />
                                <div class="portfolio-box-caption">
                                    <div class="project-category text-white-50"><font size="4">銷售經驗</font></div>
                                    <div class="project-name">接待客人</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </main>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="../static/dist/js/scripts2.js"></script>

        <!-- SimpleLightbox plugin JS-->

        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
