<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Wei1228個人履歷</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='dist/assets/favicon.ico') }}" />
        <!-- Custom Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{ url_for('static', filename='dist/css/styles.css') }}" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100 bg-light">
        <main class="flex-shrink-0">
            <!-- Navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-white py-3">
                <div class="container px-5">
                    <a class="navbar-brand" href="index.html"><span class="text-gradient d-inline"><b>wei1228個人網站</b></span></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                            <li class="nav-item"><a class="nav-link" href="index.html"><font size="5">首頁</font></a></li>
                            <li class="nav-item"><a class="nav-link" href="resume.html"><font size="5">履歷</font></a></li>
                            <li class="nav-item"><a class="nav-link" href="projects.html"><font size="5">專案</font></a></li>
                            <li class="nav-item"><a class="nav-link" href="contact.html"><font size="5">聯絡我</font></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page Content-->
            <div class="container px-0 my-5">
                <div class="text-center mb-5">
                    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Google專利爬蟲抓關鍵字</span></h1>
                </div>
                <div class="row gx-5 justify-content-center">
                    <div class="col-lg-11 col-xl-9 col-xxl-8">
                        <div class="container">
                            <div class="container">
                                <div class="container">
                                    <!-- <div class="container">
                                        <img class="img-fluid" src="{{ url_for('static', filename='dist/assets/簡歷.png') }}" alt="..." width="700" style="border-radius: 12px;" />
                                    </div> -->
                                </div>
                            </div>
                        </div>
                        <!-- Experience Section-->
                    </br>
                        <section>
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <!-- <h2 class="text-primary fw-bolder mb-0">就職經驗</h2> -->
                                <!-- Download resume button-->
                                <!-- Note: Set the link href target to a PDF file within your project-->
                                <a class="btn btn-primary px-4 py-3" href="https://colab.research.google.com/drive/13Dlgct3TBREDEdVnM0Tb_raVrexn8VRu?usp=sharing">
                                    <div class="d-inline-block bi bi-download me-2"></div>
                                    查看我的程式碼(Colab)
                                </a>
                            </div>
                            <!-- Experience Card 1-->
                            <div class="card shadow border-0 rounded-4 mb-5">
                                <div class="card-body p-2">
                                    <!-- <div class="row align-items-center gx-5"> -->
                                        <!-- <div class="col text-center text-lg-start mb-4 mb-lg-0"> -->
                                            <div class="bg-light p-4 rounded-4">
                                                <div class="text-primary fw-bolder mb-2">1.</div>
                                                <div class="small fw-bolder">使用爬蟲抓取100個專利</div>
                                                <!-- <div class="small text-muted">國高中數學講師</div> -->
                                                <!-- <div class="fst-italic">
                                                    <div class="small text-muted">大安區, 臺北市</div>
                                                </div> -->
                                            </div>
                                        
                                        <div class="col-lg-8">
                                            <img class="profile-img" src="{{ url_for('static', filename='dist/assets/googlepatent/1.png') }}" alt="..." width="850"   style="border-radius: 12px;"/>
                                        </div>  
                                </div>
                            </div>
                            
                           <!-- Experience Card 2-->
                           <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-2">
                                <!-- <div class="row align-items-center gx-5"> -->
                                    <!-- <div class="col text-center text-lg-start mb-4 mb-lg-0"> -->
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-primary fw-bolder mb-2">2.</div>
                                            <div class="small fw-bolder">抓取連結以及抓取內容</div>
                                            <!-- <div class="small text-muted">國高中數學講師</div> -->
                                            <!-- <div class="fst-italic">
                                                <div class="small text-muted">大安區, 臺北市</div>
                                            </div> -->
                                        </div>
                                    <div class="col-lg-8">
                                        <img class="profile-img" src="{{ url_for('static', filename='dist/assets/googlepatent/2.png') }}" alt="..." width="850"   style="border-radius: 12px;"/>
                                    </div>  
                                </div>
                            </div>
                        
                        <!-- Experience Card 3-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-2">
                                <!-- <div class="row align-items-center gx-5"> -->
                                    <!-- <div class="col text-center text-lg-start mb-4 mb-lg-0"> -->
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-primary fw-bolder mb-2">3.</div>
                                            <div class="small fw-bolder">文章相似度以及關鍵字頻率</div>
                                            <!-- <div class="small text-muted">國高中數學講師</div> -->
                                            <!-- <div class="fst-italic">
                                                <div class="small text-muted">大安區, 臺北市</div>
                                            </div> -->
                                        </div>
                                    <div class="col-lg-8">
                                        <img class="profile-img" src="{{ url_for('static', filename='dist/assets/googlepatent/3.png') }}" alt="..." width="850"   style="border-radius: 12px;"/>
                                    </div>  
                            </div>
                        </div>
                        <!-- Experience Card 4-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-2">
                                <!-- <div class="row align-items-center gx-5"> -->
                                    <!-- <div class="col text-center text-lg-start mb-4 mb-lg-0"> -->
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-primary fw-bolder mb-2">4.</div>
                                            <div class="small fw-bolder">main檔_抓取100次並顯示</div>
                                        </div>
                                    <div class="col-lg-8">
                                        <img class="profile-img" src="{{ url_for('static', filename='dist/assets/googlepatent/4.png') }}" alt="..." width="850"   style="border-radius: 12px;"/>
                                    </div>  
                            </div>
                        </div>
                        <!-- Experience Card 5-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-2">
                                <!-- <div class="row align-items-center gx-5"> -->
                                    <!-- <div class="col text-center text-lg-start mb-4 mb-lg-0"> -->
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-primary fw-bolder mb-2">5.</div>
                                            <div class="small fw-bolder">輸出</div>
                                            <!-- <div class="small text-muted">國高中數學講師</div> -->
                                            <!-- <div class="fst-italic">
                                                <div class="small text-muted">大安區, 臺北市</div>
                                            </div> -->
                                        </div>
                                    <div class="col-lg-8">
                                        <img class="profile-img" src="{{ url_for('static', filename='dist/assets/googlepatent/5.png') }}" alt="..." width="850"   style="border-radius: 12px;"/>
                                    </div>  
                            </div>
                        </div>
                        <!-- Experience Card 6-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-2">
                                <!-- <div class="row align-items-center gx-5"> -->
                                    <!-- <div class="col text-center text-lg-start mb-4 mb-lg-0"> -->
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-primary fw-bolder mb-2">6.</div>
                                            <div class="small fw-bolder">抓取圖片以及標籤</div>
                                            <!-- <div class="small text-muted">國高中數學講師</div> -->
                                            <!-- <div class="fst-italic">
                                                <div class="small text-muted">大安區, 臺北市</div>
                                            </div> -->
                                        </div>
                                    <div class="col-lg-8">
                                        <img class="profile-img" src="{{ url_for('static', filename='dist/assets/googlepatent/6.png') }}" alt="..." width="850"   style="border-radius: 12px;"/>
                                    </div>  
                            </div>
                        </div>
                        <!-- Experience Card 7-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-2">
                                <!-- <div class="row align-items-center gx-5"> -->
                                    <!-- <div class="col text-center text-lg-start mb-4 mb-lg-0"> -->
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-primary fw-bolder mb-2">7.</div>
                                            <div class="small fw-bolder">輸出</div>
                                            <!-- <div class="small text-muted">國高中數學講師</div> -->
                                            <!-- <div class="fst-italic">
                                                <div class="small text-muted">大安區, 臺北市</div>
                                            </div> -->
                                        </div>
                                    <div class="col-lg-8">
                                        <img class="profile-img" src="{{ url_for('static', filename='dist/assets/googlepatent/7.png') }}" alt="..." width="850"   style="border-radius: 12px;"/>  
                                </div>
                            </div>
                        </div>
                        </section>
                    </div>
                </div>
            </div>
        </main>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{{ url_for('static', filename='dist/js/scripts.js') }}"></script>
    </body>
</html>
